#loginPage * .container {
  margin-left: 10%;
  margin-right: 10%;
}

#signupPage * .container {
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  margin-top: 150px;
  margin-bottom: 35px;
}

#homePageLogin * .logo,
#watchList * .logo,
#alreadyWatched * .logo {
  margin-top: 40px;
  margin-bottom: 35px;
}