#loginPage * .container {
  margin-left: 10%;
  margin-right: 10%;
}

#signupPage * .container {
  margin-left: 10%;
  margin-right: 10%;
}

#signupPage .logo {
  padding-top: 30%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 30%;
}