#signupForm, #loginForm {
  display: none;
  position: fixed;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background: white;
}

.openForm {
  width: 191px !important;
}

.logo {
  margin: auto;
  width: 80%
}

#homePageNotLogin * .logo,
#loginPage * .logo,
#signupPage * .logo {
  margin-top: 100px;
  margin-bottom: 15px;
}

ul.searchList {
  list-style-type: none;
}

#watchListPage, #haveWatchedPage, #sharedListPage, #dataEntry, #searchResponse, #aboutContent {
  list-style-type: none;
  max-width: 100%;
}

.items, .items li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.items li {
  display: flex;
}

.items li div:nth-child(1) {
  flex-grow: 100;
}

.items li div:nth-child(2) {
  flex-shrink: 1;
}

img.info_img {
  margin: 2px;
  height: 20px;
  width: 20px;
}

.infoBox {
  display: none;
  position: fixed;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background: white;
}

.imdb_Img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

@media only screen and (min-width: 600px) {
  #watchListPage, #haveWatchedPage, #sharedListPage, #dataEntry, #searchResponse, #aboutContent {
    margin: auto;
    width: 600px;
    padding: 2%;
  }
}